.burger_nav {
  display: flex;
  position: relative;
  z-index: 100;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
  color: white;
  right: 60px;
}

.burger_dropdown {
  position: absolute;
  border: 1px solid var(--teal);
  background-color: white;
  width: 150px;
  height: auto;
  z-index: 99;
  text-align: center;
  top: 52px;
}

.burger_dropdown_hidden {
  display: none;
}

.burger_dropdown a {
  display: block;
  color: var(--teal);
  padding: 16px 0;
}

.burger_dropdown li:hover {
  background-color: var(--teal);
}

.burger_dropdown li:hover a {
  display: block;
  color: white;
}
