.dropdown {
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown a {
  color: var(--teal);
}

.dropdown li:hover {
  background-color: var(--teal);
}

.dropdown li:hover a {
  display: block;
  color: white;
}
