.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container img {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  object-fit: contain;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--teal);
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 24px !important;
}

.size {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

/* Typical Mobile */

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .card__container img {
    height: 350px;
    object-fit: contain;
    margin: 0;
  }

  .info__container h2 {
    margin: 0;
  }
}

/* Mobile Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .card__container img {
    height: 13rem;
  }
  .info__container {
    width: 50%;
  }
  .info__container h2 {
    margin: 0;
  }
}
