.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container img {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  object-fit: contain;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--teal);
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 24px !important;
}

.size {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}
